*{
    margin: 0;
    padding: 0;
    color: white;
    font-family:'chiller', Times, serif;
}

header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(3, 3, 18);
}

.logo{
    background-image: url(resources/portfolio00.jpg);
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;

}
nav{
    display: flex;
    gap: 50px;
    font-size: 2rem;

}

nav a{
    text-decoration: none;
}

nav a:hover{
    font-weight: 600;
}
main{
    background-color: rgb(12,1,50);
}
.home{
    display: flex;
}

.me{
    position: relative  ;
    left: 20%;
    display: flex;
    align-items: center;
   width: fit-content;
}

.me p{
    padding: 15px;
    font-size: 1.5rem;
}
.soft{
    font-size: 4rem;
  margin:0 1.5rem;
}

.content{
    font-size: 4rem;
    padding: .5rem;
}

.about p{
    margin:5rem 0  5rem 1.5rem;
    font-size: 2rem;
}

.line{
    height: 100px;
    width: 45px;
    background-image: url("resources/line.png");
    background-size: cover;

}
.pic{
    height: 250px;
    width: 250px;
    background-image: url("resources/Me.png");
    background-size: cover;
}
.para{
    font-size: 1.5rem;
    padding: 5px;
}
.para-2 p{
    margin: 0 1.5rem;
    font-size: 1.7rem;
}

.exp h1{
    font-size: 2.8rem;
    margin: 1rem;
}

.cards{
     display: flex;
     height: fit-content;
     width: fit-content;
 }
 
 .card{
     margin: 1rem ;
     height: 150px;
     height: fit-content;
     width: 400px;
     border: 2px solid black;
     border-radius: 15px;
     background-color: rgba(24, 24, 66, 0.79);
     display: flex;
     align-items: center;
 }
 
 .card h1{
     margin: .5rem;
 }
 
 .card p{
     margin: .5rem;
     font-size: 2rem;
 }
 
 .card button{
     margin: .5rem;
     font-size: 1.5rem;
 }
 .icon img{
     height: 100px;
     width: 100px;
     background-size: cover;
     border-radius: 50%;
     margin: .5rem;
 }
 
 button{
     border-radius: 5px;
     border: 2px solid rgb(2, 1, 10);
     background-color: rgb(49, 30, 106);
     width: 100px;
     height: 30px;
     cursor: pointer;
 }
 button:hover{
     font-weight: 600;
     cursor: pointer;
 }
.team
{display: flex;
    flex-direction: column;
   
    align-items: center;
    margin: 1rem auto; 
    /* ye lagani h */
    width: fit-content;
}
 .team p{
    font-size: 1.8rem;
}
.teamm {
    margin-left: 2.5rem;
    font-size: 20px;
    line-height: 2rem;
}
.team-logo {
    /* margin: 0 auto; */
    background-image: url("resources/Skills.png");
    background-size: contain;
    background-repeat: no-repeat;
    height:30rem;
  width: 40rem;
}
.project-1{
    display: flex;
    flex-direction: column;
    margin: 2rem 4rem;
}
.container{
   
    margin:1rem 0 4rem 0;
    display: flex;
    justify-content: center;
}
.box{
    backdrop-filter: blur(30px);
     box-shadow:  0px 0px 30px rgba(227,228,237,0.37);
    height: fit-content;
    width: 50%;
    font-size: 1.5rem;
    margin: auto 1rem;
    padding: 1rem;
    position: relative;
}

.h-1{
    color: blueviolet;
}
.h{
    font-size: 25px;
}
.h-2{
    font-size: 40px;
    color: whitesmoke;
}
.img-1{
    background-image: url(resources/p1.png);
}
.img{
    background-image: url(resources/p2.png);
}
.img:hover,
.img-1:hover{
    cursor: pointer;
}
.image{
  
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 400px;
}
.pro{
    text-align: right;
  margin-right: 10%;
  margin-left: 60%;
}

.contact{
    margin: 0 4rem;
}
.text{
    margin: 3rem 0rem;
    font-size: 3rem;
}
.text-1{
    line-height: 40px;
    font-size: 2rem;
}

.mail{
    font-size: 2rem;
    margin: 1.5rem 0;
}
.mail a{
    text-decoration: none;
}
.mail a:hover{
    font-weight: 600;
}
.footer{
    height: 60px;
    background-color: rgb(3, 3, 18);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  
}
.logo-2{
    background-image: url(resources/portfolio00.jpg);
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 50%;
}
.iconss{
    display: flex;
    gap: 15px;
}
.iconn{
    margin-bottom: 1rem;
    background-size: cover;
    height: 40px;
    width:40px;
    background-color: white;
    border-radius: 15px;

}
.logo-11{
    background-image: url(resources/instagram.png);
}
.logo-21{
    background-image: url(resources/linkedin.png);
}
.logo-31{
    background-image: url(resources/git.png);
}

.full{
    width: fit-content;
    margin: 0 auto;
}


/* responsiveness */


